body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


nav{
    background-color: #333;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px
    fixed
} 
  

nav .logo-text{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
    
}

nav .logo-text:hover{
    color: #ddd;
    
}

nav ul{
    flex-direction: row;
    display: flex;
    gap: 5px;
    gap: 10px;
    justify-content: flex-end;
}
nav ul li{
    list-style: none;
    margin: 0;
   padding: 5px;
}
nav ul li a{
    color: #fff;
     text-decoration: none;
     font-size: 16px;
}
nav ul li a:hover{
    color: #ddd;
    font-size: 14px;
}
/*  */
/* header section */
.head-section{
    background-color: #f0f0f0;
    align-items: center;
    margin: 0;
   text-align: center;
   margin-top: 0;
}
.head-section h1{
    font-size: 30px;
    margin: 0;
    padding: 5px;
}
main {
  margin-top: 100px;
  padding: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

select {
  width: 200px;
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

#result {
  margin-top: 20px;
}

@media (max-width: 768px) {
    nav ul{
        visibility: hidden;
    }
    nav{
width: 100%;
align-items: center;
justify-content: center;
    }

}